html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input[type="file"] {
  display: none;
}

#map {
    left: 0px;
    right: 0px;
    height: 100%;
    position: absolute;
}

a {
  color: #00B7FF;
}


.leaflet-container {
  font-size: 13px;
}

.leaflet-left {
  width: 100%;
}

.leaflet-bottom{
  max-height: 200px;
  margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
  margin-left: 0px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 0px;
}

.leaflet-right .leaflet-control {
  box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
  border: unset;
}


.track-list-container{
  position: absolute; /* установка позиции как абсолютной */
  bottom: 0; /* расположение внизу */
  left: 0; /* расположение слева */
  width: 14%; /* ширина внутреннего div (10% высоты внешнего div) */
  height: 20%; /* высота внутреннего div (7% ширины внешнего div) */
  background-color: rgba(255, 255, 255, 0.5); /* цвет с прозрачностью */
  z-index: 999;
  padding: 0.5%;
}



.panels-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fcfcfc;
  box-shadow: 2px 2px 2px #BCBCBC;
  -webkit-box-shadow: 2px 2px 2px #BCBCBC;
  -moz-box-shadow: 2px 2px 2px #BCBCBC;
  white-space: nowrap;
  text-align: center;
}


.trace-info {
  width: 100vw;
  display: grid;
  grid-gap: 0px 0px;
  justify-items: center;
  align-items: center;
  grid-auto-rows: min-content;
}

.scrollable-list {
  max-height: 200px; /* Set the height you want */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding: 5px;
}

.scrollable-list ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}


@media (max-width: 600px) {
  .scrollable-list li {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    background-color: #ffffff; /* Background color for items */
    margin-bottom: 5px; /* Space between items */
    padding: 5px; /* Padding inside each item */
    border: 1px solid #ddd; /* Border around each item */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  }
}

@media (min-width: 601px){
  .scrollable-list li {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    background-color: #ffffff; /* Background color for items */
    margin-bottom: 5px; /* Space between items */
    padding: 10px; /* Padding inside each item */
    border: 1px solid #ddd; /* Border around each item */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  }
}

.scrollable-list li:hover {
  background-color: #f1f1f1; /* Change background on hover */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.button-group {
  display: flex; /* Use flexbox to arrange buttons horizontally */
  margin-left: auto; /* Push buttons to the right */
}

.button-group button {
  margin-left: 10px; /* Space between buttons */
  padding: 5px 10px; /* Padding inside buttons */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.button-main {
  background-color: #ddd; /* Slightly gray button */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  max-width: 100px; /* Adjust width as needed */
  padding-right: 5px; /* Adjust padding to reduce space after ellipsis */
}

.button-secondary {
  background-color: #ffffff; /* White button */
  border: 1px solid #ddd; /* Border for white buttons */
}

.button-group button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Custom scrollbar for WebKit browsers */
.scrollable-list::-webkit-scrollbar {
  width: 12px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button-secondary i {
  font-size: 16px; /* Adjust icon size */
}

.change-button {
  width: 90%;
  height: 100%;
  font-size: 1.5em;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
}

#track-info{
  width: 100%;
}

.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.leaflet-bar button {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}

@media (min-width: 451px){
  #height-length{

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  #height-time{

    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
  }

  #track-list{
   
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
}

@media (max-width: 450px){
  #height-length{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  #height-time{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

  #track-list{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }
  .scrollable-list {
    max-height: 90px; /* Set the height you want */
  }
}


#infoList{
  display: flex;
  flex-direction: column;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.time-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.time-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
}

.time-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.time-close:hover,
.time-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.faded {
  opacity: 0.5;
  cursor: not-allowed;
}

.leaflet-popup-content{
  margin:5px;
  max-width: 110px;
  font-size:x-small;
}
 
